@import "tailwindcss";

@theme {
  --color-background: #F1F1F1;
  --color-foreground: #1a1a1a;
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}
